In [1]:
!pip install faker

Collecting faker
  Downloading faker-37.6.0-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: tzdata in /home/codespace/.local/lib/python3.12/site-packages (from faker) (2025.2)
Downloading faker-37.6.0-py3-none-any.whl (1.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.9/1.9 MB 6.4 MB/s eta 0:00:00ta 0:00:01
Installing collected packages: faker
Successfully installed faker-37.6.0

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python3 -m pip install --upgrade pip

In [2]:
from faker import Faker
fake = Faker()

In [3]:
print(fake.name())

Stacy Bradley

In [4]:
print(fake.email())
print(fake.country())
print(fake.name())
print(fake.text())
print(fake.latitude(), fake.longitude())
print(fake.url())

lward@example.net
Norfolk Island
Mary Martin
Than rate human none politics. Face memory five try tonight phone animal.
-16.0431985 79.013264
https://www.strong.com/

In [5]:
fake = Faker("es_ES")
print(fake.email())
print(fake.country())
print(fake.name())
print(fake.text())
print(fake.latitude(), fake.longitude())
print(fake.url())

ayllonmarita@example.com
República de Macedonia del Norte
Alfonso Vizcaíno Ferrero
Comunicación socialista servicios lleva esfuerzo contenido político. Se entrar oficial tipos pocos diciembre fútbol. Oposición tú bueno puesto mesa violencia c gracias.
33.526676 -85.642646
https://andres.com/

In [6]:
fake = Faker("de_DE")
fake.profile()

{'job': 'Krankenschwester',
 'company': 'Oderwald AG',
 'ssn': '975-33-1576',
 'residence': 'Miroslav-Junitz-Gasse 5\n40423 Rehau',
 'current_location': (Decimal('-42.8221545'), Decimal('-17.259195')),
 'blood_group': 'B+',
 'website': ['http://www.luebs.de/',
  'https://www.hermann.com/',
  'http://www.beier.com/',
  'http://www.peukert.net/'],
 'username': 'biancaatzler',
 'name': 'Dipl.-Ing. Simone Keudel',
 'sex': 'F',
 'address': 'Roderich-Conradi-Ring 82/52\n52705 Hoyerswerda',
 'mail': 'georgia81@yahoo.de',
 'birthdate': datetime.date(2021, 3, 25)}

In [7]:
from random import randint  
import pandas as pd  
  
fake = Faker() 
  
def input_data(x): 
    
    # pandas dataframe 
    data = pd.DataFrame()
    for i in range(0, x): 
        data.loc[i,'id']= randint(1, 100) 
        data.loc[i,'name']= fake.name() 
        data.loc[i,'address']= fake.address() 
        data.loc[i,'latitude']= str(fake.latitude()) 
        data.loc[i,'longitude']= str(fake.longitude()) 
    return data 
    

input_data(10)

,id,name,address,latitude,longitude
0,36.0,William Blake,"8323 Hurst Tunnel Apt. 961\nPort Daniel, AS 40436",57.964017,137.143089
1,18.0,Sydney Grant,"PSC 7055, Box 5300\nAPO AA 63308",-10.697357,12.554987
2,58.0,Gregory Lopez,"80379 Jessica Causeway\nNorth Alishashire, WY ...",-6.911146,152.846529
3,41.0,Ronald Owens,7079 Christensen Burgs Apt. 143\nSouth Joymout...,-32.3291185,90.666407
4,88.0,Heather Wagner,"511 Lopez Via\nSandrafort, WA 89865",19.2694375,-23.113655
5,39.0,Katherine Parks,"10058 Silva Ranch Apt. 054\nNorth Rhonda, TX 8...",-19.6142345,75.475407
6,89.0,Jay Gray,"PSC 1880, Box 3742\nAPO AP 51646",-26.569160,174.734394
7,91.0,Joseph Ramirez,"5504 Myers Inlet Suite 535\nSouth Shannonfort,...",-52.225860,-18.912249
8,24.0,Maria Weaver,"02143 Anthony Union\nNorth Dustin, NY 22483",17.2118455,157.263082
9,71.0,Gregory Schneider,"PSC 9212, Box 8529\nAPO AP 47126",20.0011725,-104.486269

In [8]:
Faker.seed(2)
input_data(10)

,id,name,address,latitude,longitude
0,24.0,Theresa Brown,"449 Catherine Prairie\nSouth Danielle, AS 95267",46.651752,19.748349
1,30.0,Jill Adams,"7566 Ann Freeway\nNorth Gregory, HI 18418",46.946829,93.924342
2,95.0,Jose Castro,Unit 7685 Box 9557\nDPO AE 99329,17.337539,67.715834
3,13.0,Danielle Ramirez,"775 Tucker Forges Suite 294\nCollinshaven, OH ...",46.1925255,169.725443
4,90.0,Jennifer Simon,"915 Rebecca Field Apt. 090\nBrittanyville, WV ...",-53.358589,-37.277591
5,18.0,Daniel Gilmore,"55230 Darius Cliff\nNorth Jessicatown, MN 34014",-55.697404,-95.647764
6,11.0,Kelly Smith,"00591 Rogers Burgs\nShaneton, MH 35096",17.871857,153.716342
7,55.0,Kaitlyn Perez,"07289 Tucker Islands Apt. 544\nValdezside, DC ...",-74.757968,-44.189418
8,20.0,Christopher Davis,"37141 Claudia Union\nJonathanchester, KY 69469",-88.704857,-98.870510
9,29.0,Jason Rodriguez,"10231 Andrew Skyway\nChavezside, SD 50308",-32.9709565,-67.181670

In [9]:
word_list = ["DataCamp", "says", "great", "loves", "tutorial", "workplace"]

for i in range(0, 5):
    print(fake.sentence(ext_word_list=word_list))

Great DataCamp loves workplace workplace loves.
Loves great DataCamp workplace.
Loves says workplace great.
Workplace great DataCamp.
Workplace tutorial DataCamp great great.

Example 5
Anonymizing existing dataset

Using seed for reproducibility
Loading CSV file
Extracting unique CustomerID and creating dictionary for Faker localized providers
Using row index and country code to create localized Faker object and creating a fake name, address, and coordinates
Adding fake value along CoustomerID
Visualizing the results

In [12]:
# Loading CSV file

Ecommerce = pd.read_csv("/workspaces/synthetic_data/e-commerce.csv.csv")

Ecommerce.head()

,index,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,CustomerName
0,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom,Scott Cox
1,1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,Scott Cox
2,2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom,Scott Cox
3,3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,Scott Cox
4,4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,Scott Cox

In [13]:
Ecommerce.Country.unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE'], dtype=object)

In [14]:
Ecommerce.Country.dropna().unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE'], dtype=object)

In [16]:
from faker import Faker
import random

def anonymous(df):
    local = {
        "United Kingdom": "en_GB",
        "France": "fr_FR",
        "Australia": "en_AU",
        "Netherlands": "nl_NL",
        "Germany": "de_DE",
        "Norway": "no_NO",
        "EIRE": "ga_IE",
    }

    # Rough bounding boxes (lat/lon) for realism
    country_coords = {
        "United Kingdom": (49.9, 58.7, -8.6, 1.8),
        "France": (41.3, 51.1, -5.1, 9.6),
        "Australia": (-43.7, -10.6, 113.3, 153.6),
        "Netherlands": (50.7, 53.6, 3.4, 7.2),
        "Germany": (47.2, 55.1, 5.8, 15.0),
        "Norway": (57.9, 71.2, 4.6, 31.1),
        "EIRE": (51.4, 55.4, -10.6, -5.3),
    }

    unique_id = df.CustomerID.dropna().unique()

    for i in unique_id:
        row_id = df[df["CustomerID"] == i].index
        CountryName = df.loc[df["CustomerID"] == i, "Country"].iloc[0]
        code = local.get(CountryName, "en_GB")
        fake = Faker(code)

        # Generate more realistic address
        street = fake.street_address()
        city = fake.city()
        postcode = fake.postcode()
        Address = f"{street}, {city}, {postcode}"

        CustomerName = fake.name()

        # Generate bounded lat/lon
        if CountryName in country_coords:
            lat_min, lat_max, lon_min, lon_max = country_coords[CountryName]
            Latitude = str(random.uniform(lat_min, lat_max))
            Longitude = str(random.uniform(lon_min, lon_max))
        else:
            Latitude = str(fake.latitude())
            Longitude = str(fake.longitude())

        for x in row_id:
            df.loc[x, "CustomerName"] = CustomerName
            df.loc[x, "Address"] = Address
            df.loc[x, "Latitude"] = Latitude
            df.loc[x, "Longitude"] = Longitude

    return df

In [17]:
Faker.seed(5)

secure_db = anonymous(Ecommerce)
secure_db

,index,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,CustomerName,Address,Latitude,Longitude
0,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom,Raymond Miles-Clayton,"Studio 58b\nRussell gateway, East Nathanstad, ...",54.871870320478784,-3.2059635042588095
1,1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,Raymond Miles-Clayton,"Studio 58b\nRussell gateway, East Nathanstad, ...",54.871870320478784,-3.2059635042588095
2,2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom,Raymond Miles-Clayton,"Studio 58b\nRussell gateway, East Nathanstad, ...",54.871870320478784,-3.2059635042588095
3,3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,Raymond Miles-Clayton,"Studio 58b\nRussell gateway, East Nathanstad, ...",54.871870320478784,-3.2059635042588095
4,4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,Raymond Miles-Clayton,"Studio 58b\nRussell gateway, East Nathanstad, ...",54.871870320478784,-3.2059635042588095
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,2495,536592,20761,BLUE PAISLEY SKETCHBOOK,1,12/1/2010 17:06,7.62,NaN,United Kingdom,NaN,NaN,NaN,NaN
2496,2496,536592,20780,BLACK EAR MUFF HEADPHONES,1,12/1/2010 17:06,11.02,NaN,United Kingdom,NaN,NaN,NaN,NaN
2497,2497,536592,20846,ZINC HEART LATTICE T-LIGHT HOLDER,1,12/1/2010 17:06,2.51,NaN,United Kingdom,NaN,NaN,NaN,NaN
2498,2498,536592,20914,SET/5 RED RETROSPOT LID GLASS BOWLS,1,12/1/2010 17:06,5.91,NaN,United Kingdom,NaN,NaN,NaN,NaN
2499,2499,536592,20931,BLUE POT PLANT CANDLE,2,12/1/2010 17:06,7.62,NaN,United Kingdom,NaN,NaN,NaN,NaN

In [18]:
display_db = []
for i in Ecommerce.Country.dropna().unique():
    display_db.append(secure_db[secure_db["Country"] == i].to_numpy()[0])
pd.DataFrame(display_db, columns=Ecommerce.columns)

,index,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,CustomerName,Address,Latitude,Longitude
0,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom,Raymond Miles-Clayton,"Studio 58b\nRussell gateway, East Nathanstad, ...",54.871870320478784,-3.2059635042588095
1,26,536370,22728,ALARM CLOCK BAKELIKE PINK,24,12/1/2010 8:45,3.75,12583.0,France,Joseph Schneider du Grenier,"61, boulevard Jacqueline Bernard, Potier-sur-N...",47.74021228268275,-3.0298262171113977
2,197,536389,22941,CHRISTMAS LIGHTS 10 REINDEER,6,12/1/2010 10:03,8.50,12431.0,Australia,Briana Johnson,"29/4 Crawford Meander, Lake Sierraport, 2920",-39.77368127491706,119.95613525315194
3,385,536403,22867,HAND WARMER BIRD DESIGN,96,12/1/2010 11:27,1.85,12791.0,Netherlands,Britt Lonen-Kerkhof,"Beratsingel 5, 's-Graveland, 7749 UD",50.84125753146365,6.666487522369389
4,1109,536527,22809,SET OF 6 T-LIGHTS SANTA,6,12/1/2010 13:04,2.95,12662.0,Germany,Beata Döring,"Alexander-Gorlitz-Straße 34, Hoyerswerda, 24881",50.86773864278084,11.971112706981424
5,1236,536532,84692,BOX OF 24 COCKTAIL PARASOLS,50,12/1/2010 13:24,0.42,12433.0,Norway,Thea Iversen,"Hagenholtet 62, Sarafoss, 2929",68.11687799931336,11.462587363219942
6,1404,536540,22968,ROSE COTTAGE KEEPSAKE BOX,4,12/1/2010 14:05,9.95,14911.0,EIRE,Dr. Antoinette Ó Biaidh,"19811 Ó Héigheartaigh Crescent, Steveside, 59994",55.2931529988502,-5.949375017844566

NameError: name 'np' is not defined